@import "tailwindcss";
*{
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.vis-manipulation{
  background-color: aqua;

}
body{
  width: 100dvw;
  height: 100dvh;
  overflow: hidden;
}